.loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.6;
  background-color: #000;
  z-index: 99;
  display: block;
}

.loading img {
  position: absolute;
  width: 7vw;
  height: 7vw;
  z-index: 100;
  margin-left: 46vw;
  margin-top: 46vh;
}